<!-- Generated template for the UserInfoComponent component -->
  <ion-card>
  <img src="img/card_demo.jpg"/>
  <ion-card-content>
    <ion-card-title>
      {{user_name}}
      </ion-card-title>
    <p>
      {{user_intro}}
    </p>
  </ion-card-content>
      <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
</ion-card>